<script src="cordova.js"></script>
<ion-header>
  <div>
  <ion-toolbar>
    <ion-title>
      <ion-row style="text-align: center;"> 
        <ion-col style="text-align: center;">
           <img src="./assets/icon/logo1.jpeg" style="width: 100px; height: 60px;">
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title style="text-align: center;"><strong>Medca</strong></ion-card-title>
        <br>
      <p style="text-align: center;">
      Este aplicativo a sido desarrollado con el objetivo de ayudarlo a seguir correctamente el tratamiento de su medicación.
      Recibira una alarma en fecha y hora registrada para su dosis de medicamento.
      En el menú podra contar con los siguientes modulos: 
      <br></p>

      <p><br> 
      <strong>Medicamentos: </strong> Aquí podrá registrar los medicamentos con la dosis y el horario en el que le hayan sido indicado.
      <br></p>

      <p><br>
      <strong>Consultas: </strong> Aquí podrá registrar cuando desea que la app lo notifique en fecha de su proxima consulta.
      <br></p>
      
      <p><br>
      <strong>Geo Farmacias: </strong> Aquí podrá visualizar un mapa indicando el punto en donde se encuentre, y le indique las farmacias
      cercanas a usted.
      <br></p>

      <p><br>
      <strong>Historial: </strong> Aquí podrá encontrar una lista de medicamentos cuyo tratamiento hayan terminado, como también consultas concluidas con su médico.
      <br></p>
    
    </ion-card-content>
  </ion-card>
</ion-content>
  

 